/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	index.css
*/

body {
	font-family: system-ui, sans-serif;
	font-size: 16px;
	line-height: 1.175em;
	margin: 0;
	padding: 0;
}

a,
a:active,
a:visited {
	color: #2b4cad;
}

a:hover {
	color: #162657;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	line-height: 1em;
	margin: 0.3em 0 0.7em;
}

.container {
	margin: 0 10%;
}

.sort {
	background: #fff;
	font-size: 0.75em;
	margin: 0 0 2em;
	text-align: left;
}

.sort form div {
	background: #fafafa;
	border: 1px solid #eee;
	border-radius: 1em;
	color: #000;
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0.5em;
}

.display-cat {
	margin: 0 0.3em 0 0;
}

.display-sort {
	margin: 0 0.3em 0 0;
}

.post-list {
	margin: 0 0 1em 0;
}

.rdb-post {
	border-bottom: 1px solid #bbb;
	max-width: 40em;
}

.rdb-post header {
	margin: 0 0 1.5em;
}

.rdb-post h2 {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1em;
	margin: 0 0 0.18em 0;
}
.rdb-post h3 {
	font-size: 1em;
	font-weight: normal;
	line-height: 1em;
}

.rdb-post p {
	line-height: 1.5;
	margin: 0 0 1em 0;
}

.rdb-post footer {
	display: flex;
	margin: 1em 0;
}

.rdb-post-score {
	padding: 0.5em 1.5em 0.5em 0;
}

a.rdb-upvote,
a.rdb-upvote:active,
a.rdb-upvote:visited {
	color: #63c700;
	padding: 0.25em;
}

a.rdb-upvote:hover {
	background: #e0f4cc;
	border-radius: 1em;
	padding: 0.25em;
}


a.rdb-downvote,
a.rdb-downvote:active,
a.rdb-downvote:visited {
	color: #ad1a1a;
	padding: 0.25em;
}

a.rdb-downvote:hover {
	background: #efd1d1;
	border-radius: 1em;
	padding: 0.25em;
}

.rdb-post-comments {
	padding: 0.5em 1.5em 0.5em 0;
}

.rdb-post-edit {
	background: #fff;
	border: 1px dotted #2b4cad;
	border-radius: 1em;
	font-size: 0.75em;
	padding: 0.6em 1em;
	text-align: right;
}

.rdb-post-edit a {
	padding: 0 0.25em;
}

.rdb-post-edit a,
.rdb-post-edit a:active,
.rdb-post-edit a:visited {
	color: #2b4cad;
}

.rdb-post-edit a:hover {
	color: #fa3e3e;
}
